<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>${{totalBalance | number : '1.2-2'}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-card *ngIf="btcWallet">
    <ion-item>
      <ion-avatar item-start>
        <img src="https://www.cryptocompare.com/media/19633/btc.png">
      </ion-avatar>
      <h2>
        <strong>${{btcPrice * (btcWallet.balance * Math.pow(10, -8)) | number : '1.2-2'}}</strong>
      </h2>
      <p>{{btcWallet.balance * Math.pow(10, -8) | number : '1.2-2'}} BTC</p>
      <ion-note item-end>
        <small class="changed" style="color: red;">
          -5.04%
        </small><br>
        1 BTC = ${{btcPrice}}
      </ion-note>
    </ion-item>
    <canvas #lineCanvasBTC></canvas>
  </ion-card>

  <ion-card *ngIf="ltcWallet">
    <ion-item>
      <ion-avatar item-start>
        <img src="https://www.cryptocompare.com/media/19782/litecoin-logo.png">
      </ion-avatar>
      <h2>
        <strong>${{ltcPrice * (ltcWallet.balance * Math.pow(10, -8)) | number : '1.2-2'}}</strong>
      </h2>
      <p>{{ltcWallet.balance * Math.pow(10, -8) | number : '1.2-2'}} LTC</p>
      <ion-note item-end>
        <small class="changed" style="color: green;">
          8.13%
        </small><br>
        1 LTC = ${{ltcPrice}}
      </ion-note>
    </ion-item>
    <canvas #lineCanvasLTC></canvas>
  </ion-card>

  <ion-list *ngIf="wallet">

    <ion-card text-center *ngIf="ethPrice" >
      <ion-card-header>
        <ion-item >
          <ion-avatar item-start>
            <img src="{{wallet.ETH.imgUrl}}">
          </ion-avatar>
          <h2>
            <strong>${{ethPrice * wallet.ETH.balance | number : '1.2-2'}}</strong>
          </h2>
          <p>{{wallet.ETH.balance | number : '0.2-2'}} ETH</p>
          <ion-note item-end>
            <small class="changed" *ngIf="ethPrice.cap24hrChange > 0" style="color: green;">
              {{ethPrice.cap24hrChange}}%
            </small>
            <small class="changed" *ngIf="ethPrice.cap24hrChange < 0" style="color: red;">
              {{ethPrice.cap24hrChange}}%
            </small><br>
            1 ETH = ${{ethPrice}}
          </ion-note>
        </ion-item>
      </ion-card-header>
      <small text-center>tokens</small>
      <ion-card-content>
        <ion-list>
        <ion-item *ngFor="let t of wallet.tokens">
          <ion-avatar item-start>
            <img src="{{t.imgUrl}}"> 
          </ion-avatar>
          <h2>
            <strong>${{t.tokenInfo.price.rate * (t.balance * Math.pow(10, -t.tokenInfo.decimals)) | number : '1.2-2'}}</strong>
          </h2>
          <p>{{t.balance * Math.pow(10, -t.tokenInfo.decimals) | number : '0.2-2'}} {{t.tokenInfo.symbol}}</p>
          <ion-note item-end>
          <small class="changed" *ngIf="t.tokenInfo.price.diff > 0" style="color: green;">
              {{t.tokenInfo.price.diff | number : '0.2-2'}}%
            </small>
            <small class="changed" *ngIf="t.tokenInfo.price.diff < 0" style="color: red;">
              {{t.tokenInfo.price.diff | number : '0.2-2'}}%
            </small><br>
            1 {{t.tokenInfo.symbol}} = ${{t.tokenInfo.price.rate | number : '0.2-2'}}
          </ion-note>
        </ion-item>
        </ion-list>
        
      </ion-card-content>
    </ion-card>      
  
  </ion-list>
</ion-content>
