<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngIf="!wallet">
    <p >add a wallet address in the settings tab</p>
  </ion-item>
  <ion-item *ngIf="wallet">
    <h1 text-center class="primary">
      ${{totalBalance}}
    </h1>
  </ion-item>

  <div class="container" *ngIf="wallet">
    <ion-card>
    
      <ion-card-header>
        <ion-row>
          <ion-col text-left>
            ETH
          </ion-col>
          <ion-col text-right>
            ${{ethPrice.price}}
            <small *ngIf="ethPrice.cap24hrChange > 0" style="color: green;">
              {{ethPrice.cap24hrChange}}%
            </small>
            <small *ngIf="ethPrice.cap24hrChange < 0" style="color: red;">
              {{ethPrice.cap24hrChange}}%
            </small>
          </ion-col>
        </ion-row>
      </ion-card-header>
    
      <ion-card-content>
        <ion-row>
          <ion-col text-right>
            <small>{{wallet.ETH.balance}} ETH</small><br>
            <small>${{ethPrice.price * wallet.ETH.balance}}</small>
          </ion-col>
        </ion-row>
      </ion-card-content>
    
    </ion-card>

    <ion-card *ngFor="let t of wallet.tokens">
    
      <ion-card-header>
        <ion-row>
          <ion-col text-left>
            {{t.tokenInfo.symbol}}
          </ion-col>
          <ion-col text-right>
            ${{t.tokenInfo.price.rate}} 
            <small *ngIf="t.tokenInfo.price.diff > 0" style="color: green;">
              {{t.tokenInfo.price.diff}}%
            </small>
            <small *ngIf="t.tokenInfo.price.diff < 0" style="color: red;">
              {{t.tokenInfo.price.diff}}%
            </small>
          </ion-col>
        </ion-row>
      </ion-card-header>
    
      <ion-card-content>
        <ion-row>
          <ion-col text-right>
            <small>{{t.balance * Math.pow(10, -t.tokenInfo.decimals)}} {{t.tokenInfo.symbol}}</small><br>
            <small>${{t.tokenInfo.price.rate * (t.balance * Math.pow(10, -t.tokenInfo.decimals))}}</small>
          </ion-col>
        </ion-row>
      </ion-card-content>
    
    </ion-card>
  </div>
  
</ion-content>
