<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>${{totalBalance | number : '1.2-2'}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-card [class.hide]="!btcEnabled">
    <ion-item>
      <ion-avatar item-start>
        <img src="../assets/imgs/btc.png">
      </ion-avatar>
      <h2 *ngIf="btcWallet">
        <strong>${{btcPrice * (btcWallet.balance * Math.pow(10, -8)) | number : '1.2-2'}}</strong>
      </h2>
      <p *ngIf="btcWallet">{{btcWallet.balance * Math.pow(10, -8) | number : '1.2-2'}} BTC</p>
      <ion-note item-end>
        ${{btcPrice}}<br>
        <small class="changed" style="color: red;">
          -5.04% ($1,245.45)
        </small>
      </ion-note>
    </ion-item>
    <small class="pastDay">Past day</small>
    <svg height="1" width="400">
      <line x1="50" y1="0" x2="400" y2="0" style="stroke:#33055C;stroke-width:2" />
    </svg>
    <canvas :height="75" #lineCanvasBTC></canvas>
  </ion-card>

  <ion-card [class.hide]="!ethEnabled">
      <ion-item *ngIf="ethPrice" >
        <ion-avatar item-start>
          <img src="../assets/imgs/eth.png">
        </ion-avatar>
        <h2 *ngIf="wallet" >
          <strong>${{ethPrice * wallet.ETH.balance | number : '1.2-2'}}</strong>
        </h2>
        <p *ngIf="wallet" >{{wallet.ETH.balance | number : '0.2-2'}} ETH</p>
        <ion-note item-end>
          ${{ethPrice}}<br>
          <small class="changed" style="color: green;">
            8.13% ($24.56)
          </small>
          <small class="changed" *ngIf="ethPrice.cap24hrChange > 0" style="color: green;">
            {{ethPrice.cap24hrChange}}%
          </small>
          <small class="changed" *ngIf="ethPrice.cap24hrChange < 0" style="color: red;">
            {{ethPrice.cap24hrChange}}%
          </small>
         
        </ion-note>
      </ion-item>
      <small class="pastDay">Past day</small>
      <svg height="1" width="400">
        <line x1="50" y1="0" x2="400" y2="0" style="stroke:#33055C;stroke-width:2" />
      </svg>
      <canvas :height="75" #lineCanvasETH></canvas>
    </ion-card>

  <ion-card [class.hide]="!ltcEnabled">
    <ion-item >
      <ion-avatar item-start>
        <img src="https://www.cryptocompare.com/media/19782/litecoin-logo.png">
      </ion-avatar>
      <h2 *ngIf="ltcWallet">
        <strong>${{ltcPrice * (ltcWallet.balance * Math.pow(10, -8)) | number : '1.2-2'}}</strong>
      </h2>
      <p *ngIf="ltcWallet">{{ltcWallet.balance * Math.pow(10, -8) | number : '1.2-2'}} LTC</p>
      <ion-note item-end>
        ${{ltcPrice}}<br>
        <small class="changed" style="color: green;">
          8.13% ($24.56)
        </small>
      </ion-note>
    </ion-item>
    <small class="pastDay">Past day</small>
    <svg height="1" width="400">
      <line x1="50" y1="0" x2="400" y2="0" style="stroke:#33055C;stroke-width:2" />
    </svg>
    <canvas :height="75" #lineCanvasLTC></canvas>
  </ion-card>

    
    <ion-card *ngIf="wallet" [class.hide]="!ethEnabled">
      <ion-card-header>
          Tokens
      </ion-card-header>
      <ion-list>
        <ion-item *ngFor="let t of wallet.tokens">
          <ion-avatar item-start>
            <img src="{{t.imgUrl}}"> 
          </ion-avatar>
          <h2>
            <strong>${{t.tokenInfo.price.rate * (t.balance * Math.pow(10, -t.tokenInfo.decimals)) | number : '1.2-2'}}</strong>
          </h2>
          <p>{{t.balance * Math.pow(10, -t.tokenInfo.decimals) | number : '0.2-2'}} {{t.tokenInfo.symbol}}</p>
          <ion-note item-end>
            ${{t.tokenInfo.price.rate | number : '0.2-2'}}<br>
            <small class="changed" *ngIf="t.tokenInfo.price.diff > 0" style="color: green;">
              {{t.tokenInfo.price.diff | number : '0.2-2'}}%
            </small>
            <small class="changed" *ngIf="t.tokenInfo.price.diff < 0" style="color: red;">
              {{t.tokenInfo.price.diff | number : '0.2-2'}}%
            </small>
          </ion-note>
        </ion-item>
      </ion-list>
    </ion-card>      
  
</ion-content>
